# Normalize line endings
* text=auto eol=lf

# Binary files
*.ico binary
*.png binary
*.jpg binary
*.gif binary
*.webp binary
*.mp4 binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
